App {
  max-width: 10000px;
  max-height: 10000px;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
}

.content-container {
  min-height: 650px;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  height: 120px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background-color:#4682B4;
  margin: 0% 0% 2% 0%;
  border-bottom: 7px ridge rgba(70,130,180,0.23);
  border-radius: 0px 0px 4px 4px;
}

.logo {
  height: 70%;
  float: left;
  width: 10% auto;
  padding: 0% 0% 0% 6.5%;
  vertical-align: middle;
}

.title {
  position: relative;
  display: flex;
  float: left;
  padding: 0.5% 0% 0% 0.5%;
  width: 55%;
}

.footer-links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1% 0% 0% 0%;
}

.link { color: #8F8F8F; }
.link:hover { color: #000000; }

.funder-container {
  position: relative;
  display: flex;
  flex-direction: inline-block;
  height: 115px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.5% 0% 0% 0%;
}

.funder-logos {
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  align-items: center;
}

.MF-logo {
  position: relative;
  height: 70%;
  max-width: 100%;
  padding: 1% 0% 0% 0.6%;
}

.Wellcome-logo {
  position: relative;
  height: 100%;
  max-width: 100%;
  padding: 0.6% 0% 0% 0.6%;
}

.MRC-logo {
  position: relative;
  height: 85%;
  max-width: 100%;
  padding: 0.6% 0% 0% 0.6%;
}