.app-container {
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:#4682B4;
  margin: 0% 0% 1.5% 0%;
  border-bottom: 7px ridge rgba(70,130,180,0.23);
  border-radius: 0px 0px 4px 4px;
}

.logo {
  height: 70%;
  float: left;
  width: 10% auto;
  padding: 0% 0% 0% 5%;
  vertical-align: middle;
}

.title {
  position: relative;
  display: flex;
  float: left;
  padding: 0.5% 0% 0% 0.5%;
  width: 55%;
}

.footer-links {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 1.2%;
  justify-content: center;
  align-items: 'center';
}

.link { color: #8F8F8F; }
.link:hover { color: #000000; }

.funder-container {
  position: relative;
  display: flex;
  flex-direction: inline-block;
  justify-content: center;
  align-items: center;
}

.funder-logos {
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  align-items: center;
}

.MRC-logo {
  position: relative;
  height: 85%;
  max-width: 100%;
  padding: 0% 0% 0% 0.6%;
  margin-top: auto;
  margin-bottom: auto;
}

.credits{
  text-align: center;
}

ul{
  margin: 0.3% 0% 0.3% 0%;
}