.text-center {
    display: flex;
    height: 12%;
    justify-content: center;
}

.landing-grid {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    padding: 1.5% 5% 0% 5%;
    height: 100%;
    width: 100%
}

.description {
    position: relative;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row:1;
    margin-top: auto;
    margin-bottom: auto;
}

.description-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Dropzone */
.dropzone {
    height: 100%;
    width: 100%;
    border: 5px dashed #8F8F8F;
    outline: none;
    cursor: pointer;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row:1;
    border-radius: 4px;
}

.dropzone-active {
    background-color: #F8F8FF;
    border: 5px solid #4682B4;
}

.dropzone-content {
    align-self: center;
    font-size: 24px;
}