/* Results */
.display-cluster {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
}
  
.chart-title {
    display: flex;
    position: relative;
    justify-content: left;
    text-align: center;
}
  
.show-Stats {
    padding: 1.5% 1.5% 0% 1.5%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: left;
    position: relative;
}

.hide-Stats {
    padding: 1.5% 1.5% 0% 1.5%;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    display: none;
}

.download-button {
    position: relative;
    align-content: left;
    text-align: left;
}

.result-container {
    height: 93.5%;
    max-width: 100%;
    background-color:#FFFFFF;
    margin: 0% 5% 0% 5%;
}

.display-container {
    height: 90%;
    width: 100%;
}

.show-Plots {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.item1 {
    max-width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row:1;
}

.item2 {
    max-width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row:1;
}

.hide-Plots {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
}

.show-Microreact {
    position: absolute;
    width: 90%;
    height: 70%;
    justify-content: center;
}

.hide-Microreact {
    position: absolute;
    width: 90%;
    height: 100%;
    display: none;
    justify-content: center;
}