/* Results */
.display-cluster {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
}
  
.chart-title {
    display: flex;
    position: relative;
    justify-content: left;
    text-align: center;
}
  
.grid-container {
    display: grid;
    height: 95%;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
}
  
.summary-statistics {
    padding: 0% 5% 1.5% 5%;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
}
  
.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-direction: column; /* defined the main axis */
    justify-content: center; /* y-axis */
    align-items: center; /* x-axis */
    height: 90%;
    max-width: 90%;
}
  
.item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column; /* defined the main axis */
    justify-content: center; /* y-axis */
    align-items: center; /* x-axis */
    height: 90%;
    max-width: 90%;
}
  
.item4 {
}
  
.download-button {
    position: relative;
    align-content: left;
    text-align: left;
}

.result-toggler {
    height: 100%;
    max-width: 100%;
}

.toggled-results {
    height: 100%;
    max-width: 100%;
}