/* Results */
.display-cluster {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.chart-title {
    display: flex;
    position: relative;
    justify-content: left;
    text-align: center;
}

.show-Stats {
    position: relative;
    padding: 1.5% 1.5% 0% 1.5%;
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
}

.item1 {
    max-width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row:1;
}

.item2 {
    max-width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row:1;
}

.hide-Stats {
    padding: 1.5% 1.5% 0% 1.5%;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    display: none;
}

.download-button {
    position: relative;
    align-content: left;
    text-align: left;
}

.result-container {
    height: 100%;
    max-width: 100%;
    background-color:#FFFFFF;
    margin: 0% 5% 0% 5%;
}

.extended-result-container {
    height: 165%;
    max-width: 100%;
    background-color:#FFFFFF;
    margin: 0% 5% 0% 5%;
}

.display-container {
    height: 88.92297205%;
    width: 100%;
}

.extended-display-container {
    height: 100%;
    width: 100%;
}

.show-Plots {
    position: relative;
    display: flex;
    height:100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hide-Plots {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.show-Phylo {
    position: relative;
    width: 100%;
    justify-content: center;
}

.hide-Phylo {
    position: relative;
    width: 100%;
    display: none;
    justify-content: center;
}

.show-Microreact {
    position: relative;
    width: 100%;
    justify-content: center;
}

.hide-Microreact {
    position: relative;
    width: 100%;
    display: none;
    justify-content: center;
}

.show-Cytoscape {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.hide-Cytoscape {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
}

.nav-link-active {
    background-color: #a3c2db;
    border: 0.1px solid #a3c2db;
    border: 1px ridge rgba(70,130,180,0.23);
    height:90%;
    border-radius: 6px;
}

.custom-navbar {
    background-Color: #4682B4;
    border: 4px ridge rgba(70,130,180,0.23);
    border-radius: 3px 3px 0px 0px;
}

.padding-tab {
    padding: 1% 0% 0% 3%;
}

.tab {
    padding: 0% 0% 0% 3%;
}