#title-font {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  color: #F7F7F7;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

#description-header-font {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  word-spacing: 1px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

#description-font {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

#dropzone-inactive {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  word-spacing: -1.2px;
  color: #8F8F8F;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

#accepted-files {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  word-spacing: -1.2px;
  color: #8F8F8F;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

#dropzone-active {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  word-spacing: -1.2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

#loader-font {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

#footer-font {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  color: #8F8F8F;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

#funder-font {
  font-family: "Lucida Sans Unicode", "Lucida Grande", serif;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

#navbar-font {
  color: #F7F7F7
}

#navbar-font-active {
  color: #000000
}

#home-link {
  color: #F7F7F7
}

#italics {
  font-style: italic;
}